body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: auto;
}
.hero {
  /* background: url("images/wheat_hero_1.jpg") bottom;*/
  background-color: goldenrod;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  height: 4em;
  margin: 0;
  padding: 0;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-content: end;
  margin: 0;
  padding: 0;
}
.books {
  display: grid;
  grid-template-columns: 280px 300px 280px 300px;
  gap: 2rem;
  margin: 20px;
}
.latest {
  grid-column: 1 / 5;
  margin: auto;
}
img {
  max-width: 280px;
  height: auto;
}


ul li {
  display: grid;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 2rem;
}