body {
  margin: 0px;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}
.header {
  background-color: goldenrod;
  display: grid;
  height: 20vh;
  grid-column: 1 / span 4;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 4em;
  margin: 0;
  padding: 0;
}
.book1_cover {
  grid-column: 1;
  grid-row: 2;
}
.book1_text {
  grid-column: 2;
  grid-row: 2;
}



img {
  width: 100%;
  max-width: 280px;
  height: auto;
}
